<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <h1>About</h1>
                
                    <table>
                        <tr>
                            <td>
                                <div class="card" style="width: 18rem;">
                                    <img src="/static/6th.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">VoizFonica Telecom is network service provider. It have product such as Prepaid,Postpaid,Dongle  </p>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </table>
              
                
                
                <p> 
                    VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and 
                    telecommunication services that help people and companies communicate in an easy, efficient and 
                    environmentally friendly way. </p> <br>
                   <p>
                    VoizFonica business is very technology dependent as company acts as a network service provider (NSP) in 
                    mobile.
                   </p> <br>
                   <p> 
                    VoizFonica is a company that is aware of the new challenges posed by today’s society. This is why the company 
                    offer the means to facilitate communication between people, providing them with the most secure and state of 
                    the art technology in order for them to live better, and for them to achieve whatever they resolve.
                   </p>
                   
                    
               
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
            </div>
    </div>

    
    
</body>
</html>