<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet"  href="/static/background css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <table class="table table-striped">
                    <center><h2>VIEW ALL POSTPAID PLANS</h2></center>
                <thead>
                    <tr>
                        <th>PRICE</th>
                        <th>CALLS</th>
                        <th>DATA</th>
                        <th>MESSAGES </th>
                        <th>OFFERS</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.price}}</td>
                        <td>{{i.calls}}</td>
                        <td>{{i.data }}</td>
                        <td>{{i.messages}}</td>
                        <td>{{i.offers}}</td>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
</body>
</html>


